/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  margin: 20px 10px;
  font-family:Arial, Helvetica, sans-serif
}
 
header a{
  float: right;
   position: absolute;
   margin-top: -50px;
   text-decoration: none;
   color: black;
}

header span a{
  font-size: xx-large;
  font-weight: bolder;
}

header div a{
  position: relative;
  margin-right: 20px;
}


nav{
  position: relative;
  top: 0;
  overflow: hidden;
  background-color: black;
  margin-top: 70px;
  width: 100%;
  z-index: 1;
}

nav ul{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0;
}

nav li a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  padding-top: 10px;
}

nav li:hover {
  background-color: #04AA6D;
  width: auto;
  padding:5px 30px;
  border-radius: 5px;
}

nav a.active {
  background-color: #04AA6D;
  color: white;
}

#main_display #main_div h2{
  margin-bottom: 0;
}

#main_display #main_div{
  background: #f5f5f5b3;
  max-width: 30%;
  margin-left: 50px;
  color: rgba(15, 158, 158, 0.904);
  margin-top: 20px;
  padding-left: 20px;
}

#main_display #main_div ul li{
  text-decoration: none;
  display: block;
  line-height: 30px;
}

#main_display #main_div #own_today{
 background-color:aqua;
 width: 100%;
 padding: 10px;
 line-height: 40px;
}

#main_display #main_div #own_today a{
 margin: auto;
 text-decoration: none;
}

section #car_header{
  position: relative;
  z-index: -1;
  margin-top: -120px;
  width: 100%;
}

section #car_header img{
  margin: auto;
  width: 70%;
  margin-left: 50px;
}


/* Aside and boxes */

#aside_container{
  display: flex;
  width: 100%;
}

#aside_container #upgrades, #reviews{
  display: flex;
  justify-content: center;
  width: 50%;
}


#aside_container #reviews li{
 line-height: 45px;
}

#aside_container #upgrades{
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

#aside_container #upgrades div{
  float: right;
  margin: 10px 20px;
  font-size: 15px;
  width: 35%;
  font-size: 10px;
  height: 100px;
}


#aside_container #upgrades div .upgrade_img{
  width: 100%;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
}

#aside_container #upgrades div .upgrade_img img{
  display: block;
  margin: auto;
  height: auto;
}

#aside_container #upgrades div h3{
  text-align: center;
  margin-left: -30px;
}

footer{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-weight: bold;
  text-decoration: none;
  align-items: flex-end;
}

/* inventory style */
#vehicles #vehicles_container{
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  width: 100% !important;
}

#vehicles #vehicles_container .vehicle_image{
  width: 30%;
  margin: 20px;
  background-color: #f5f5f5b3;
  padding: 10px;
  justify-content: space-between;

}

#vehicles #vehicles_container .vehicle_image hr{
  border: 1px solid black;
  margin: 10px 0;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
}


#vehicles #vehicles_container .vehicle_image a{
  text-decoration: none;
  color: black;
}


#vehicles #vehicles_container .vehicle_image img{
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 10px;
}

 .vehicle_image h3, .vehicle_image .price{
  text-align: center;
  margin-top: 10px;
}

#more_details_container{
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 20px;
}

#more_details_container .vehicle_image,#more_details_container #details{
  display: block;
  width: 40%;
}

#more_details_container .vehicle_image img{
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 10px;
}

#more_details_container #details{
  padding: 20px;
  background-color: #f5f5f5b3;
  border-radius: 10px;
}
#more_details_container #details h2{
  text-align: center;
}

#more_details_container #details *{
  margin-bottom: 30px;
}



/* //login form style */
form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  background-color: darkcyan;
  padding: 20px;
  border-radius: 10px;
  color: white;
  row-gap: 30px;
  font: 16px sans-serif;
  height: auto;
}

form .form-group {
  display: block;
  margin: 0 20px 0 20px;
}

form .form-group label {
  display: block;
  margin-bottom: 5px;
}

form .form-group input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: darkcyan;
  font-weight: bold;
  cursor: pointer;
  width: 30%;
  margin: auto;
  font-size: 13px;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: lightgray;
}

form p{
  text-align: center;
  color: white;
  font-size: 12px;
  margin-top: -20px;
}

form p a{
  color: white;
  text-decoration: underline;
}

.password-group {
  position: relative;
}

.form-group #show-password-container {
  display: flex;
  float: left;
  margin-top: 40px;
}
#show-password-container input[type="checkbox"] {
  margin-right: 10px;
  margin-top: -23px;
  width: 20px;
  height: 20px;
}
#show-password-container p {
  white-space: nowrap;
  margin-left: -2px;
  margin-bottom: 0px;
  position: relative;
}


@media screen and (max-width: 700px){

  form a, .form p{
    font: 2.5vw sans-serif;
  }

  #vehicles #vehicles_container .vehicle_image{
  width: 100%;
  justify-items: center;
  flex-wrap: wrap;
  margin: auto;
}

#more_details_container{
  display: block;
  width: 100%;
  margin: auto;
  padding: 20px;
}


#more_details_container .vehicle_image,#more_details_container #details{
  display: block;
  width: 100%;
  inline-size: 100%;
  row-gap: 50px;
}

} 

/* Validation styles */
input:required:invalid, input:focus:invalid {
 background-image: url(/images/invalid.png);
 background-position: right top;
 background-repeat: no-repeat;
}
 input:required:valid {
 background-image: url(/images/valid.png);
 background-position: right top;
 background-repeat: no-repeat;
 }
 

 /* New classification form styles */
 form #new-classification {
  padding-top: 40px;
}

form #new-classification input[type="text"]{
  margin-bottom: 20px;
}

form #new-classification input[type="text"]:focus{
  outline: none;
  border: 2px solid black;
}
form #new-classification button{
  width: 60%;
  margin: auto;
}


form #add_inventory {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin:auto;
  width: 100%;
  height: auto;
  row-gap: 20px;
}

form #add_inventory .form-group {
margin-top: 20px;
}

#edit-account-form{
  margin-bottom: 50px;
}

#update-password-form{
  margin-top: 50px;
}

#upgrade-account{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
#upgrade-account label{
  margin-bottom: -10px;
}

#upgrade-code p{
  margin-top: 2px;
  margin-bottom: 5px;
}

.messages {
  color: green;
  font-weight: bold;
}

.notices {
  color: red;
  font-weight: bold;
} 

@media only screen and (max-width: 600px){
#main_display #main_div{
  background: #f5f5f5b3;
  max-width: 40%;
  margin-left: 10px;
  justify-content: space-around
}

#main_display #main_div h2{
  font-size: 5vw;
  margin-bottom: 0;
}

  #aside_container{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
 }

 #aside_container #upgrades, #reviews{
  width: 100%;
}

 #aside_container #reviews{
  margin-left: 10px;
}

#aside_container #upgrades div{
  float: right;
  margin: 10px 20px;
  font-size: 15px;
  width: 35%;
  font-size: 10px;
  height: 100px;
}

#vehicles #vehicles_container{
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px;
}

}